
.card{
    float: left;
    width: 45%;
    margin: 10px;
    transition: 0.3s;
  }
.center{
    margin-left: 15%;
    text-align: center;
}
/* cols and side style */
.col1 {

    width: 20%;
    float: left;
    text-align: center;
    bottom: 0%;

}

.col2 {
    background-color: #00bfff;
    width: 80%;
    float: right;
    height: 100%;
    padding-bottom: 80%;
    color: white;

}

.container {
    width: 100%;
}

.right {
    float: right;
    width: 70%;
    height: 100%;
    bottom: 0;
}

.left {
    float: left;
    width: 30%;
    height: 100%;
    position: fixed;
}


.col1 img {
    width: 40%;
}

.col1 h4 {
    margin-top: 0px;
    margin-right: 20%;
    font-size: 12px;
}

.col2 img {
    width: 40%;
    margin-left: 28%;
    border-radius: 50%;
    border-style: ridge;
    border-color: white;
    margin-top: 10%;
}


.col3 p {
    margin-left: 20px;
}

.col2 h3 {
    text-align: center;
    font-weight: bold;
}

.col2 p {
    text-align: center;
    font-weight: bold;
}

button:hover{
    background-color: white;
    color: #00bfff;
}
.footer {
    text-align: center;
    color: white;
    background-color: #00bfff;
    margin-left: 0px;
    position: fixed;
    /* Sticky/fixed navbar */
    width: 24%;
    bottom: 0;
    /* At the top */
}

.left:after {
    content: "";
    display: table;
    clear: both;
}

.col2:after {
    content: "";
    display: table;
    clear: both;
}

.right:after {
    content: "";
    display: table;
    clear: both;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.home {
    text-align: center;
    width: 100%;
    float: right;
    height: 100%;
    margin-top: 20%;
}

.home p {
    margin-top: 2px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;